body {
	font-family: Arial, Helvetica, Sans-serif;
	text-align: center;
}

ul {list-style: none;}

#gallery-container {
    overflow: auto;
    width: 100%
}

#gallery {
	padding-top:20px;
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
}

.thumb {
	width: 200px;
}